@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family:'Poppins', sans-serif;
}

.wrapper{
    display: flex;
}
.sideBar{
    background-color: #4e73df;
    height: 100vh;
    width: 18%;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    font-size: 2em;
}
.sideNavBar{
    margin-top: 70px;
}
.sideNavBarLi{
    margin: 50px 5px 15px 13px;
    color: white;
    display: flex;
    text-align:center;
    align-items: center;
}
.sideNavBarLi a{
    color: white;
    padding: 0px 40px 10px 15px;
}
.sideNavBar li.active a{
    background-color: white;
    color: black;    
    border-radius: 20px;
}
.messages{
    font-size: 30px;
}
.CatgoryHouse{
    display: flex;
    width: auto;
    margin: 30px 13px 10px;
    justify-content: space-around;
}
.CatgoryHouse img{
    height: 225px;
    width: 318px;
    margin: 30px 17px;
    border-radius: 20px;
}
.addCategoryButton{
text-align: center;
margin: 30px auto;
}
.addCategory{
    font-size: 2em;
    color: white;
    background-color: #4e73df;
    border: none;
    border-radius: 20px;
    height: 8vh;
    width: 45vh;
    cursor: pointer;
}
